
.DS_Store

.idea/

__pycache__/

venv/

fyp-qa-eb7816dfb87e.json

static/.well-known/acme-challenge/

/prediction/
/data/
/output/

para/
newsqa_w_para/

prediction_v2/
prediction_v3/

fypbertqa.sock